.carousel-inner{
	background: linear-gradient(to right, #256551,#1caf9a,white,#1caf9a,#256551);
}
.carousel{
	width: 100%;
}
.content-container {
	/* width: 100%; */
	padding: 50px 0px;
}
.main-content-container{
    display: flex;
    justify-content: space-between;
}
.movie-container{
	display: flex;
    float: left;
	width: 75%;
}
.movie-contianer ul {
    display: flex;
    flex-wrap: wrap;
	min-height: 220px;
	margin-bottom:40px; 
	margin-left:20px; 
	width: 85%
}
.movie-item {
    display: flex; 
    height: 180px;
    margin: 10px 15px 10px 15px;
}
.movie-item .movie-img {
    height: 165px;
    width: 120px;
    cursor: pointer;
}
.movie-item .movie-name {
    position: relative;
    line-height: 30px;
    top: -30px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
}
.movie-item .movie-img:hover {
    border: 2px solid #1caf9a;
}
.movie-url{
    height: 165px;
    width: 120px;
    margin: 10px 18px -30px 18px;
}
.statistic-container {
	display: flex;
	flex-direction: column;
    float: right;
	width: 25%;
	margin-right:20px; 
}
.statistic-container ul {
    display: flex;
    flex-direction: column;
	min-height: 185px;
	padding: 10px 20px;
	width: 100%
}
.statistic-item {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}