.strategy-container {
    display: flex;
    width: 100%;
    min-height: 160px;
    margin: 20px 0;
}

.strategy-card {
    padding: 20px 20px 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-around;
}

.strategy-line {
    display: flex;
    align-items: baseline;
}

.strategy-line-item {
    margin: 0 10px;
}