<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>404</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/404.js"></script>
</head>
<body>
<!-- Content Wrapper -->
<div id="wrapper">
    <div class="info" style="text-align:center">
        <img src="//pkfrom.github.io/404/assets/img/404-dark.png" alt="404 error" />

        <p>The page you are looking for was moved, removed,<br />
            renamed or might never existed.</p>
        <a href="/index" class="btn btn-primary" id="home-btn"><i class="icon-home"></i> 回到首页</a>
    </div>
</div>

</body>
</html>