<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>影院统计</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminStatistic.css"/>


    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/echarts.js"></script>
    <script src="/js/adminCinemaStatistic.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">SuperAdmin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/superAdmin/people/manage"><i class="icon-user"></i> 人员管理</a></li>
            <li role="presentation"><a href="/superAdmin/VIPCard/manage"><i class="icon-credit-card"></i> 会员卡优惠管理</a></li>
            <li role="presentation"><a href="/superAdmin/coupon/manage"><i class="icon-tag"></i> 优惠券管理</a></li>
            <li role="presentation"  class="active"><a href="#"><i class="icon-bar-chart"></i> 影院统计</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">影院统计</span>
        </div>
        <div class="card table-container" id="schedule-rate-container">
        </div>
        <div class="card table-container" id="box-office-container">
        </div>
        <div class="card table-container" id="audience-price-container">
        </div>
        <div class="card input-container">
            <span>选择日期: </span>
            <input type="date" class="form-control" id="place-rate-date-input" style="display: inline-block;height: 40px;width: 180px;margin-top: 5px;margin-left: 10px">
        </div>
        <div class="card table-container" id="place-rate-container">
        </div>
        <div class="card input-container">
            <span><strong>热门电影查询：</strong></span>
            <span>最近天数:</span>
            <input type="number" id="days-input" name="days" style="border-radius: 5px;border: 1px solid #ccc;width: 180px;height: 40px;margin-top: 5px;margin-right: 30px;">
            <span>电影数量:</span>
            <input type="number" id="movieNum-input" name="movieNum" style="border-radius: 5px;border: 1px solid #ccc;width: 180px;height: 40px;margin-top: 5px;">
            <button type="button" id="putUp-btn" class="btn btn-primary" style="margin-left:10px">确  认</button>
        </div>
        <div class="card table-container" id="popular-movie-table-container">
        </div>
    </div>
</div>
</body>
</html>