<!--此页面为用户主页，暂时无内容展示-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/index.js"></script>

</head>
<body>
    <div class="nav-top-container">
        <div class="nav-logo title">NJU-Se电影购票系统</div>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">首页</a></li>
            <li role="presentation"><a href="/user/movie">电影</a></li>
        </ul>
        <div class="btn-group">
            <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="avatar-sm" src="/images/defaultAvatar.jpg" id="bar-profile-picture"/>
                <span class="gray-text" style="vertical-align: middle"><span id="username">未登录</span>&nbsp;<span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/user/selfPage">个人中心</a></li>
                <li id="logout"><a href="#">登出</a></li>
            </ul>
        </div>
    </div>
    <div class="content-container">
        <div id="myCarousel" class="carousel slide">
    		<!-- 轮播（Carousel）指标 -->
    		<ol class="carousel-indicators">
        		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        		<li data-target="#myCarousel" data-slide-to="1"></li>
        		<li data-target="#myCarousel" data-slide-to="2"></li>
    		</ol>   
    		<!-- 轮播（Carousel）项目 -->
    		<div class="carousel-inner">
        		<div class="item active">
            		<img class="center-block" src="https://i.loli.net/2019/06/13/5d02122c9e38944366.jpg" />
        		</div>
        		<div class="item">
            		<img class="center-block" src="https://i.loli.net/2019/06/13/5d01fadad06bc61936.jpg" />
        		</div>
        		<div class="item">
            		<img class="center-block" src="https://i.loli.net/2019/06/13/5d01fe24cd74c74464.jpg" />
        		</div>
    		</div>
    		<!-- 轮播（Carousel）导航 -->
    		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"></a>
    		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"></a>
		</div>
		<div class="main-content-container">
			<div class="movie-contianer">
        
			<p class="title primary-text">热映电影</p>
            	<ul id="movie-on-list" class="movie-on-list card">

				</ul>
            <p class="title primary-text" style="margin-top:-20px;">即将上映</p>
            <ul id="movie-off-list" class="movie-off-list card">
                
            </ul>
        	</div>
        <div class="statistic-container">
            <p class="title primary-text">票房统计<span>单位：元</span></p>
            <ul id="top-sell-list" class="top-sell-list card">
                
            </ul>
            <p class="title primary-text">最受欢迎<span>根据近7天累计票房排名</span></p>
            <ul id="top-expectation-list" class="top-expectation-list card">
                
            </ul>
		</div>
    </div>
    </div>
</body>
</html>