<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优惠券管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href=""/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/superAdminCouponManage.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">SuperAdmin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/superAdmin/people/manage"><i class="icon-user"></i> 人员管理</a></li>
            <li role="presentation"><a href="/superAdmin/VIPCard/manage"><i class="icon-credit-card"></i> 会员卡优惠管理</a></li>
            <li role="presentation"  class="active"><a href="#"><i class="icon-tag"></i> 优惠券管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/superAdmin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/superAdmin/refund/manage"><i class="icon-backward"></i> 退票策略管理</a></li>
        </ul>
    </div>
<div class="content-container">
	<div class="content-header">
        <span class="title gray-text">优惠券赠送</span>
        </div>
    <div class="input-group col-lg-3" style="float:right;">
					<span class="input-group-btn">
						<label>选择优惠券：</label>
					</span>
					<select class="form-control" id="select-coupon">
                    </select>
				</div>
    <div class="col-lg-2">
    <input type="text" class="form-control" id="user-targetAmount" placeholder="请输入用户最低消费总额">
    </div>
    <button type="button" class="btn btn-primary" id="user-targetAmount-btn">查询</button>
    <table class="table table-hover" id="user-cumulative-table">
        <thead>
            <tr>
                <th>用户ID</th>
                <th>消费总额</th>
                <th>操 作</th>
            </tr>
        </thead>
        <tbody id="user-cumulative-list">
            
        </tbody>
    </table>
</div>
</div>
</body>
</html>