<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href=""/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/superAdminPeopleManage.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">SuperAdmin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#"><i class="icon-user"></i> 人员管理</a></li>
            <li role="presentation"><a href="/superAdmin/VIPCard/manage"><i class="icon-credit-card"></i> 会员卡优惠管理</a></li>
            <li role="presentation"><a href="/superAdmin/coupon/manage"><i class="icon-tag"></i> 优惠券管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/superAdmin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/superAdmin/refund/manage"><i class="icon-backward"></i> 退票策略管理</a></li>
        </ul>
    </div>
<div class="content-container">
    <div class="content-header">
        <span class="title gray-text">人员管理</span>
        <button type="button" class="btn btn-primary" id="add-btn" data-backdrop="static" data-toggle="modal" data-target="#userAddModal" style="float:right;"><i class="icon-plus-sign"></i><span> 添加新人员信息</span></button>
    </div>
    <table id="user-table" class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>身份</th>
                <th>用户名</th>
                <th>密码（已加密）</th>
                <th>操 作</th>
            </tr>
        </thead>
        <tbody id="user-list">
            
        </tbody>
    </table>
    
</div>
</div>
<div class="modal fade" id="userEditModal" tabindex="-1" role="dialog" aria-labelledby="userEditMoalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userEditMoalLabel">修改用户信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="user-edit-identity-input"><span class="error-text">*</span>身份</label>
                        <div class="col-sm-10">
                            <!--<input type="text" class="form-control" id="user-edit-identity-input" placeholder="请输入用户身份">-->
                            <select  class="form-control" id="edit-identity" name="identity" required >
                                <option value="2">经理</option>
                                <option value="1">售票员</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="user-edit-username-input"><span class="error-text">*</span>用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="user-edit-username-input" placeholder="请输入用户名">
                        </div>
                        <p id="edit-name-error" class="notice">用户名长度应在4-10位内</p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="user-edit-password-input"><span class="error-text">*</span>密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="user-edit-password-input" placeholder="请输入用户密码">
                        </div>
                        <p id="edit-password-error" class="notice">密码长度应在6-12位内</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="user-edit-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="userAddModal" tabindex="-1" role="dialog" aria-labelledby="userAddMoalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userAddMoalLabel">添加新用户信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="user-add-name-input"><span class="error-text">*</span>身份</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="add-identity" name="identity" required >
                                <option value="2">经理</option>
                                <option value="1">售票员</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="user-add-username-input"><span class="error-text">*</span>用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="user-add-username-input" placeholder="请输入用户名">
                        </div>
                        <p id="add-name-error" class="notice">用户名长度应在4-10位内</p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="user-add-password-input"><span class="error-text">*</span>密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="user-add-password-input" placeholder="请输入用户密码">
                        </div>
                        <p id="add-password-error" class="notice">密码长度应在6-12位内</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="user-add-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="adminEditModal" tabindex="-1" role="dialog" aria-labelledby="adminEditMoalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="adminEditMoalLabel">修改管理员信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="admin-edit-identity-input"><span class="error-text">*</span>身份</label>
                        <div class="col-sm-10">
                            <!--<input type="text" class="form-control" id="user-edit-identity-input" placeholder="请输入用户身份">-->
                            <select class="form-control" id="admin-edit-identity" name="identity" required >
                                <option value="3">管理员</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="admin-edit-username-input"><span class="error-text">*</span>用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="admin-edit-username-input" placeholder="请输入用户名">
                        </div>
                        <p id="edit-name-error" class="notice">用户名长度应在4-10位内</p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="admin-edit-password-input"><span class="error-text">*</span>密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="admin-edit-password-input" placeholder="请输入用户密码">
                        </div>
                        <p id="edit-password-error" class="notice">密码长度应在6-12位内</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="admin-edit-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>