<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员卡优惠管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href=""/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/superAdminVIPCardManage.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">SuperAdmin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/superAdmin/people/manage"><i class="icon-user"></i> 人员管理</a></li>
            <li role="presentation"  class="active"><a href="#"><i class="icon-credit-card"></i> 会员卡优惠管理</a></li>
            <li role="presentation"><a href="/superAdmin/coupon/manage"><i class="icon-tag"></i> 优惠券管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/superAdmin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/superAdmin/refund/manage"><i class="icon-backward"></i> 退票策略管理</a></li>
        </ul>
    </div>
<div class="content-container">
    <div class="content-header">
        <span class="title gray-text">会员优惠策略管理</span>
        <button type="button" class="btn btn-primary" id="add-btn" data-backdrop="static" data-toggle="modal" data-target="#presentAddModal" style="float:right;"><i class="icon-plus-sign"></i><span> 发布新优惠策略</span></button>
    </div>
    <table class="table table-hover" id="present-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>优惠策略</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="present-list">
            
        </tbody>
    </table>
</div>
</div>
<div class="modal fade" id="presentAddModal" tabindex="-1" role="dialog" aria-labelledby="presentAddMoalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="presentAddMoalLabel">发布新优惠策略</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="present-add-targetAmount-input"><span class="error-text">*</span>满:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="present-add-targetAmount-input" placeholder="请输入金额">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="present-add-present-input"><span class="error-text">*</span>送:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="present-add-presentAmount-input" placeholder="请输入赠送金额">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="present-add-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="presentEditModal" tabindex="-1" role="dialog" aria-labelledby="presentEditMoalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="presentEditMoalLabel">修改优惠策略</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="present-edit-targetAmount-input"><span class="error-text">*</span>满:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="present-edit-targetAmount-input" placeholder="请输入金额">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="present-edit-present-input"><span class="error-text">*</span>送:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="present-edit-presentAmount-input" placeholder="请输入赠送金额">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="present-edit-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>