<!--此界面为用户订单界面，展示用户所有订单-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单中心</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/movieList.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userBuy.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userBuy.js"></script>

</head>
<body>
    <div class="nav-top-container">
        <div class="nav-logo title">NJU-Se电影购票系统</div>
        <ul class="nav nav-pills">
            <li role="presentation"><a href="/user/home">首页</a></li>
            <li role="presentation"><a href="/user/movie">电影</a></li>
        </ul>
        <div class="btn-group">
            <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
                <span class="gray-text" style="vertical-align: middle" id="username">用户A&nbsp;<span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">电影票</a></li>
                <li><a href="/user/member">卡包</a></li>
                <li id="logout"><a href="#">登出</a></li>
            </ul>
        </div>
    </div>
    <div class="content-container col-md-10 col-lg-offset-1 content-container-padding-justify">
        <div class="filler-container card">
            <div class="input-group" style="width: 100%">
                <h4>我的电影票</h4>
                <button class="btn btn-default" id="all" type="button" onclick="renderAllTicket()">所有订单</button>
                <button class="btn btn-default" id="finished" type="button" onclick="renderTicket(1)">已完成</button>
                <button class="btn btn-default" id="failed" type="button" onclick="renderTicket(0)">即将开始</button>
            </div>
        </div>
        <ul class="movie-on-list" id="order-list">
        </ul>
        <div class="filler-container card" id="page-bar" style="display: none">
            <div class="input-group" style="width: 100%">
                <button class="btn btn-default" id="last" type="button" onclick="lastClick()">上一页</button>
                <p id="page"></p>
                <button class="btn btn-default" id="next" type="button" onclick="nextClick()">下一页</button>
            </div>
        </div>
    </div>
<!--    <div class="content-container">-->
<!--        <div class="col-md-8 col-md-offset-2">-->
<!--            <div class="input-group" >-->
<!--                <h4>我的电影票</h4>-->
<!--                <button class="btn btn-default" id="all" type="button" onclick="renderAllTicket()">所有电影票</button>-->
<!--                <button class="btn btn-default" id="finished" type="button" onclick="renderTicket(1)">已完成电影票</button>-->
<!--                <button class="btn btn-default" id="failed" type="button" onclick="renderTicket(2)">已失效电影票</button>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <table border="0" rules="all" id="ticket-table">-->
<!--                    <thead>-->
<!--                        <tr>-->
<!--                            <th>电影名称</th>-->
<!--                            <th>影厅名</th>-->
<!--                            <th>座位</th>-->
<!--                            <th>放映时间</th>-->
<!--                            <th>预计结束时间</th>-->
<!--                            <th>状态</th>-->
<!--                        </tr>-->
<!--                    </thead>-->
<!--                    <tbody id="ticket-list">-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</body>
</html>