<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nju.edu.cinema.data.management.PeopleMapper">
    <insert id="insertOneUser" parameterType="nju.edu.cinema.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(identity,username,password)
        values(#{identity},#{username}, #{password})
    </insert>
    <select id="selectAllPeople" resultMap="People">
        select * from user order by identity desc
    </select>
    <select id="selectUserById" resultMap="People">
        select * from user where id=#{id}
    </select>
     <delete id="deleteOneUser">
        delete from user where id=#{id}
    </delete>
    <update id="updatePeople" parameterType="nju.edu.cinema.po.User">
        update user set identity=#{identity},username=#{username},password=#{password}
        where id = #{id}
    </update>
    <resultMap id="People" type="nju.edu.cinema.po.User">
        <id column="id" property="id"></id>
        <result column="identity" property="identity"></result>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
    </resultMap>
</mapper>