<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nju.edu.cinema.data.management.RefundMapper">
    <insert id="insertRefundStrategy" parameterType="nju.edu.cinema.po.RefundStrategy"
            useGeneratedKeys="true" keyProperty="id">
        insert into refund_strategy(refundable, name, available_hour, charge, state)
        values(#{refundable}, #{name}, #{availableHour}, #{charge}, #{state})
    </insert>

    <select id="selectAllStrategies" resultMap="Strategy">
        select * from refund_strategy
    </select>
    <select id="selectStrategyById" resultMap="Strategy">
        select * from refund_strategy where id = #{hallId}
    </select>
    <select id="selectCurrentStrategy" resultMap="Strategy">
        select * from refund_strategy where state = 1
    </select>

    <update id="updateRefundStrategy" parameterType="nju.edu.cinema.po.RefundStrategy">
        update refund_strategy set `refundable` = #{refundable},
        `available_hour` = #{availableHour}, `name` = #{name}, charge = #{charge}
        where id = #{id}
    </update>
    <update id="updateCurrentStrategy">
        update refund_strategy set state = case id when #{id} then 1 else 0 end
    </update>

    <delete id="deleteStrategy">
        delete from refund_strategy where #{id} = id
    </delete>

    <resultMap id="Strategy" type="nju.edu.cinema.po.RefundStrategy">
    </resultMap>
</mapper>